<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>987732586335-3g9ei5bov8rknk3ab6dlvgqmh25ksmmh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.987732586335-3g9ei5bov8rknk3ab6dlvgqmh25ksmmh</string>
	<key>API_KEY</key>
	<string>AIzaSyC_nFTP9CxPLx9LHlO2HrKw8bBcm0exRco</string>
	<key>GCM_SENDER_ID</key>
	<string>987732586335</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pollar</string>
	<key>PROJECT_ID</key>
	<string>pollar-d108e</string>
	<key>STORAGE_BUCKET</key>
	<string>pollar-d108e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:987732586335:ios:8f2db5131a907384d450ea</string>
</dict>
</plist>